# Apply
Con el metodo apply(func): Aplicamos una función externa creada por nosotros para nuestro DataFrame()
```python
df_books['User Rating'].head(2)
->
0    4.7
1    4.6
Name: User Rating, dtype: float64


def two_times(value):
    return value*2
df_books["User Rating"].apply(func=two_times)
->
0    9.4
1    9.2
Name: User Rating, dtype: float64

```

Uso de la función lambda dentro de apply()
```python
df_books.apply(func=lambda x: x["User Rating"]*2 if x["Genre"]=="Fiction" else x["User Rating"], axis=1)
```

In [46]:
import pandas as pd
import numpy as np

In [47]:
df_books=pd.read_csv(filepath_or_buffer="./data/bestsellers_data.csv", sep=",", header=0)
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [48]:
def two_times(value):
    return value*2

In [49]:
df_books['User Rating'].head(2)

0    4.7
1    4.6
Name: User Rating, dtype: float64

In [50]:
df_books["User Rating"].apply(func=two_times).head(2)

0    9.4
1    9.2
Name: User Rating, dtype: float64

In [51]:
df_books["Rating_2"]=df_books["User Rating"].apply(func=two_times)

In [52]:
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2

In [53]:
df_books.ndim

2

In [54]:
df_books.shape

(550, 8)

In [55]:
df_books.size

4400

In [56]:
quantity=np.random.randint(low=1, high=5, size=550)
quantity.ndim

1

In [57]:
df_books["quantity"]=quantity
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,quantity
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,1

In [58]:
df_books["ventas"]=df_books["Price"]*df_books["quantity"]
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,quantity,ventas
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,4,32
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,3,66
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,4,60
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,3,18
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,1,12

In [64]:
df_books["ventas2"]=df_books.apply(func=lambda data: data["Price"]*data["quantity"], axis=1)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,quantity,ventas,ventas2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1,4,32,32
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8,3,66,66

In [60]:
df_books["Rating_2"]=df_books["User Rating"].apply(func=lambda x:x*3)

In [61]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,quantity,ventas,ventas2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1,4,32,32
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8,3,66,66
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1,4,60,60
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,14.1,3,18,18
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,14.4,1,12,12

In [62]:
df_books.apply(func=lambda x: x["User Rating"]*2 if x["Genre"]=="Fiction" else x["User Rating"], axis=1)

0      4.7
1      9.2
2      4.7
3      9.4
4      4.8
      ...
545    9.8
546    4.7
547    4.7
548    4.7
549    4.7
Length: 550, dtype: float64