# Series y dataframes de pandas
A primeroa sorpresa pd.Series() muestra el array con sus idices y estas notros podemos decidir que indice va tener.
```python
import pandas as pd

pd.Series(data=["Navas", "Mbappe", "Neymar", "Messi"],index=[1,7,10,30])
->  1      Navas
    7     Mbappe
    10    Neymar
    30     Messi
dtype: object
```
Con los objetos Series pandas podemos hacer tambien los slicing y muchos metodos y funciones que utilizamos en numpy
```python
psg_players=pd.Series(data=["Navas", "Mbappe", "Neymar", "Messi"])
psg_players
->  0     Navas
    1    Mbappe
    2    Neymar
    3     Messi
    dtype: object

psg_players[0:3]
->  0     Navas
    1    Mbappe
    2    Neymar
    dtype: object
```

np.DataFrame(): muestra numa matriz de 2 dimensiones en donde tiene filas y columnas 
```python
dict={
    "Jugador":["Navas", "Mbappe", "Neymar", "Messi"],
    "Altura": [183.0, 170.0, 170.0, 160.0],
    "Goles":  [2,200,200,200]
}

df_players=pd.DataFrame(data=dict)
df_players

-> 
    Jugador	Altura	Goles
0	Navas	183.0	2
1	Mbappe	170.0	200
2	Neymar	170.0	200
3	Messi	160.0	200

```
- La propiedad de objetos dataframes llamado columns muetra el indice de columnas
```python
df_players.columns
-> Index(['Jugador', 'Altura', 'Goles'], dtype='object')
```
- La propiedad de objetos dataframes llamado index numestra el indice de filas
```python
df_players.index
-> RangeIndex(start=0, stop=4, step=1)
```

In [16]:
import pandas as pd

In [17]:
psg_players=pd.Series(data=["Navas", "Mbappe", "Neymar", "Messi"],index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [18]:
pd.Series(data=["Navas", "Mbappe", "Neymar", "Messi"])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [19]:
dict={1: "Navas", 7:"Mbappe", 10: "Neymar", 30:"Messi"}
pd.Series(data=dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [22]:
psg_players[7]

'Mbappe'

In [24]:
psg_players=pd.Series(data=["Navas", "Mbappe", "Neymar", "Messi"])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [25]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [27]:
dict={
    "Jugador":["Navas", "Mbappe", "Neymar", "Messi"],
    "Altura": [183.0, 170.0, 170.0, 160.0],
    "Goles":  [2,200,200,200]
}
dict

{'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura': [183.0, 170.0, 170.0, 160.0],
 'Goles': [2, 200, 200, 200]}

In [32]:
df_players=pd.DataFrame(data=dict)
df_players

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   160.0    200

In [33]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [34]:
df_players.index

RangeIndex(start=0, stop=4, step=1)